.container {
  font-size: 0;
  width: auto;
}

.square {
  display: inline-block;
  background-color: skyblue;
  border: 1px black solid;
  margin-right: -1px;
  margin-bottom: -1px;
}

.hovering {
  background-color: pink;
}